# === Database ===
MYSQL_ROOT_PASSWORD=cambiar-password-db
DB_NAME=mensajeria_db
DB_USER=ticketti_app
DB_PASSWORD=cambiar-password-db
DB_PORT=3307

# === Application ===
APP_PORT=8085

# === RabbitMQ ===
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# === Mail ===
MAIL_USERNAME=notificaciones.ticketti@gmail.com
MAIL_PASSWORD=tu-clave-de-16-caracteres-de-gmail

# === Config Server ===
CONFIG_SERVER_URL=http://host.docker.internal:8888

# === Discovery Server (Eureka) ===
EUREKA_URL=http://host.docker.internal:8761/eureka/